* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-color: white;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.icon {
  width: 200px;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: skyblue;
  position: fixed;
  width: 100%;
}

.button {
  display: flex;
  gap: 100px;
  font-size: 1.7rem;
  align-items: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(21, 6, 6);
  text-align: right;
}

#stori {
  background-color: skyblue;
  text-align: left;
  margin: auto;
  width: 80%;
  line-height: 1.4;
}

li {
  list-style: alpha;
  margin: 10px 0;
  margin-left: 20px;
}
